1.Handle Pagination Responsive
2.Handle Quiz (انت جبت 20 من 20) To Bold
3.Handle On Open Any Page window.scrollY(0)
4.Progressive Web Application
5.Add Validation On All Website
6.Add Loading Skeleton & Error Handler